/*=========================================== Public styles*/
/*for hiding fields like DateTimeAlt and ...*/
.HiddenItem {
    display: none;
}

/* show persian numbers in correct direction in pages */
.NumberDirectionFixer {
    direction: ltr;

}

/*new order specs table*/
#NewOrderSpecs tbody tr td {
    border: none;
}

/*========================================== New Order table*/
.OrderSpecification .form-group {
    width: 80%;
}

.OrderSpecification input, .OrderSpecification select, .OrderSpecification label {
    font-size: 14px;
    height: fit-content;
}

/*description*/
.OrderSpecification textarea {
    width: 100%;
    height: 125px;
    font-size: 14px;
    line-height: 18px;
    border: 1px solid #dddddd;
    padding: 10px;
}

/*field title*/
.OrderSpecification .form-group h3 {
    font-size: 14px;
}

/*translation parts*/
.OrderSpecification .pure-material-checkbox span {
    font-weight: normal;
}

/*======================================== End of new order specification table*/

/*======================================== Admin new order list*/
#NewOrdersTable thead tr th, #NewOrdersTable tbody tr td {
    text-align: center;
    vertical-align: middle;
}

/*======================================== Admin new order spec*/
#NewOrderSpecAdmin table tbody tr td {
    width: fit-content;
    display: inline-flex;
    align-items: center;
    border: none;
}

#NewOrderSpecAdmin table tbody tr td input {
    width: 50%;
}

#NewOrderSpecAdmin table tbody tr.OrderPrice td.pull-right {
    width: 40%;
}

#NewOrderSpecAdmin table tbody tr td.submit {
    width: 20%;
}

#NewOrderSpecAdmin table tbody tr td.Translators span {
    width: 100%;
}

.Translators{
    width: 50%;
}
.Translators select.TranslatorsList {
    width: 100%;
}

/*======================================== Customer new order spec*/
#NewOrderSpecCustomer table tbody tr td {
    border: none;
}

#NewOrderSpecCustomer table tbody tr td span{
    width: 100%;
}
#NewOrderSpecCustomer table tbody tr td.BankPortal {
    width: 15%;
}
#NewOrderSpecCustomer table tbody tr td.BankPortal img{
    width: 100%;
}

#NewOrderSpecCustomer table tbody tr.BankPortals{
    display: inline-block;
    align-items: center;
}
